body{
margin: 0px;
padding: 0px;
max-height: 100vh;
overflow: hidden;
}

p{
    padding: 0px;
    margin: 0px;
}

.navbar{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.news{
    max-height: 100vh;
    overflow-y: scroll;
}
.news-card{
    display: flex;
    margin: 10px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    color: black;

}
.news-detials{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.news-card img{
    width: 300px;
    height:220px;
}

